* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background: linear-gradient(-45deg, #1d1d1d, #333, #23a6, cyan); */
  /* background: linear-gradient(45deg, #1d1d1d, #333, #23a6, cyan); */
  background: linear-gradient(-90deg, #fd5c63, red, green, blue, skyblue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-size: 3rem;
}

.success {
  background: green;
}

.danger {
  background: red;
}
